/* Set up the entire page layout using Flexbox */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  flex: 1; /* Allow the main content to flexibly fill space */
}

/* Footer Styles */
.footer {
  background-color: #322f2f;
  color: #ffffff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25%;
}

.footer-logo {
  width: 30%;
}

.logo-image {
  margin-top: 5%;
  width: 250px;
  margin-bottom: 8px;
  margin-left: 10%;
}

.footer-description {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 10%;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.footer-contact,
.footer-hours {
  width: 45%;
}

.footer-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #3ed343;
}

.footer-contact ul,
.footer-hours ul {
  list-style: none;
  padding: 0;
}

.footer-contact li,
.footer-hours li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
}

.footer-links a:hover {
  color: #0fca09;
}

.footer-bottom {
  text-align: center;
  margin-top: 7%;
  width: 100%;
  font-size: 12px;
  color: #ffffff;
}

.footer-bottom a {
  color: #f4e047;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-logo,
  .footer-contact,
  .footer-hours {
    width: 100%;

    margin-bottom: 20px;
  }

  .footer-details {
    flex-direction: column;
  }
  .logo-image {
    margin-top: 5%;
    width: 250px;
    margin-bottom: 8px;
    margin-left: -3%;
  }

  .footer-description {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1%;
  }
}
